.divMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.md\:flex-row {
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.divSecondary {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
