* {
  font-family: "Montserrat", "serif";
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  font-size: 1em;
  color: rgba(126, 98, 204);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.max-w-5xl {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}
