.card {
  --border-radius: 0.75rem;
  --primary-color: rgba(126, 98, 204);
  --secondary-color: #3c3852;
  width: 200px;
  font-family: "Montserrat", "serif";
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  -webkit-box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}
@media (min-width: 400px) {
  .md\:card-adaption {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .md\:card-adaption {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .lg\:card-adaption {
    width: 300px;
  }
}
.card > * + * {
  margin-top: 0.75em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card svg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}
